---
import Base from '../layouts/Base.astro';
import { getCollection } from 'astro:content';

const lessons = await getCollection('lessons');
---
<Base title="Learn Hindi">
  <p>Table of contents</p>
  <ul>
    {lessons.map((lesson) => (
<li><a href={`${import.meta.env.BASE_URL}lessons/${lesson.id}`}>{lesson.data.title}</a></li>    ))}
  </ul>
</Base>